<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles/sign-in.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>
<body>
<div id="app" v-cloak>
<!-- ENCABEZADO -->
    <header class="row g-0" id="signIn">
        <div class="col-12 signIn">
            <a href="index.html" class="sign-in"><img src="./assets/logo-no-fondo.png" alt="Logo" class="logo"></a>
        </div>
    </header>
<!-- CONTENIDO -->
    <main>    
    <!-- Iniciar sesión -->
        <div class="row g-0 content-signIn">
            <div class="col-md-3 col-sigIn">
                <form id="sign-in" @submit.prevent="signIn">
                    <div class="mb-3">
                        <label for="username2" class="form-label sign-in">Usuario:</label>
                        <input v-model="data.username" type="text" class="form-control" id="username2" placeholder="Usuario" required>
                    </div>
                    <label for="password3" class="form-label sign-in">Contraseña:</label>
                    <div class="input-group mb-3">
                        <input v-model="data.password" :type="type3" class="form-control" id="password3" placeholder="Contraseña" maxlength="16" required>
                        <button v-if="hidden3" class="btn btn-outline-secondary sign-in" type="button" id="button-addon2" @click="showPassword3"><img src="./assets/hidden.png" alt=""></button>
                        <button v-if="show3" class="btn btn-outline-secondary sign-in" type="button" id="button-addon2" @click="showPassword3"><img src="./assets/show.png" alt=""></button>
                    </div>
                    <div class="alert alert-danger d-flex align-items-center" role="alert" v-if="error && data.username == '' && data.password == ''">
                        <p id="invalid">Usuario o contraseña incorrecta</p>
                    </div>
                    <div class="mb-3">
                        <ul class="list-unstyled ps-0">
                            <li class="mb-1 link-signIn">
                                <a href="" class="sign" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight-2" aria-controls="offcanvasRight-2">Olvidó su usuario o contraseña</a>
                            </li>
                            <li class="mb-1 link-signIn">
                                <a href="" class="sign" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight-1" aria-controls="offcanvasRight-1">Crear nueva cuenta</a>
                            </li>
                        </ul>
                    </div>
                    <div class="form-floating form-signIn">
                        <input class="btn btn-primary sign-in" type="submit" value="Ingresar">
                        <input class="btn btn-primary sign-in-2" type="reset" value="Cancelar">
                    </div>
                </form>
            </div>
        </div>
    <!-- Recuperar datos olvidados -->
        <div class="offcanvas offcanvas-end register" tabindex="-1" id="offcanvasRight-2" aria-labelledby="offcanvasRightLabel-2">
            <div class="offcanvas-header">
                <h5 id="offcanvasRightLabel">Olvidó su usuario o contraseña</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <form id="forgot-data" @submit.prevent="forgotData">
                    <p id="emailHelp" class="form-text">Para recuperar su usuario o contraseña, por favor, ingrese el correo electrónico con el que se registró en nuestra plataforma.</p>
                    <div class="form-floating mb-3">
                        <input v-model="data.email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="name@example.com">
                        <label for="email">Correo electrónico</label>
                    </div>
                    <div class="form-floating forgot-data">
                        <input class="btn btn-primary register" type="submit" value="Enviar">
                        <input class="btn btn-primary register-2" type="reset" value="Limpiar">
                    </div>
                </form>
            </div>
        </div>
    <!-- Registro -->
        <div class="offcanvas offcanvas-end register" tabindex="-1" id="offcanvasRight-1" aria-labelledby="offcanvasRightLabel-1">
            <div class="offcanvas-header">
                <h5 id="offcanvasRightLabel">Registrarte</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <form id="register" @submit.prevent="registerUser">
                    <div class="form-floating mb-3">
                        <input v-model="data.firstname" type="text" class="form-control" id="firstname" placeholder="Nombre(s)">
                        <label for="firstname">Nombre(s)</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input v-model="data.lastname" type="text" class="form-control" id="lastname" placeholder="Apellido(s)">
                        <label for="lastname">Apellido(s)</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input v-model="data.username" type="text" class="form-control" id="username" placeholder="Nombre de usuario">
                        <label for="username">Nombre de usuario</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input v-model="data.email" type="email" class="form-control" id="email-2" placeholder="name@example.com">
                        <label for="email-2">Correo electrónico</label>
                    </div>
                    <div class="row g-0">
                        <div class="col-10 form-floating mb-3 password">
                            <input v-model="data.password" :type="type" class="form-control" id="password" placeholder="Contraseña">
                            <label for="password">Contraseña</label>
                        </div>
                        <div class="col-2">
                            <button v-if="hidden" class="btn btn-outline-secondary password" type="button" @click="showPassword"><img src="./assets/hidden.png" alt=""></button>
                            <button v-if="show" class="btn btn-outline-secondary password" type="button" @click="showPassword"><img src="./assets/show.png" alt=""></button>
                        </div>
                    </div>
                    <div class="row g-0">
                        <div class="col-10 form-floating mb-3 password">
                            <input v-model="data.password2" :type="type2" class="form-control" id="password2" placeholder="Repita su contraseña">
                            <label for="password2">Repita su contraseña</label>
                        </div>
                        <div class="col-2">
                            <button v-if="hidden2" class="btn btn-outline-secondary password" type="button" @click="showPassword2"><img src="./assets/hidden.png" alt=""></button>
                            <button v-if="show2" class="btn btn-outline-secondary password" type="button" @click="showPassword2"><img src="./assets/show.png" alt=""></button>
                        </div>
                    </div>
                    <div class="form-floating register-user">
                        <input class="btn btn-primary register" type="submit" value="Registrar">
                        <input class="btn btn-primary register-2" type="reset" value="Limpiar">
                    </div>
                </form>
            </div>
        </div>
    </main>
<!-- PIE DE PÁGINA -->
    <footer>
        <section id="social">
            <a href="https://www.facebook.com/" target="_blank" class="social-icon"><img class="social" src="./assets/facebook.png" alt="Facebook"></a>
            <a href="https://m.me/hectoremmanuel.rolon" target="_blank" class="social-icon"><img class="social" src="./assets/messanger.png" alt="Messanger"></a>
            <a href="https://www.instagram.com" target="_blank" class="social-icon"><img class="social" src="./assets/instagram.png" alt="Instagram"></a>
            <a href="https://wa.me/5491134254092" target="_blank" class="social-icon-2"><img class="social" src="./assets/whatsapp.png" alt="WhatsApp"></a>
        </section>
        <section id="copy-right">
            <p id="footer-page">&copy; {{momentFooter(new Date())}} El mejor combo | Todos los derechos reservados.</p>
        </section>
    </footer>
</div>
<!-- BOOTSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

<!-- VUE.JS -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./scripts/sign-in.js"></script>
</body>
</html>