<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos del producto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/manager.css">
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
</head>
<body>
<div id="app" v-cloak>
<!-- ENCABEZADO -->
    <header id="user" v-if="listClient.role == 'ADMIN' || listClient.role == 'USER'">
        <a href="" class="d-block link-light text-decoration-none" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false" style="float: right;"><div id="avatar" :style="{backgroundImage: 'url('+listClient.profile+')'}"></div></a>
        <a class="d-block text-decoration-none name-profile">{{listClient.firstname}} {{listClient.lastname}}</a>
        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
            <li><a class="dropdown-item go-to" href="">Perfil</a></li>
            <li><a class="dropdown-item go-to" href="">Mis compras</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item go-to" href="" @click.prevent="signOut">Cerrar sesión <img src="../assets/logout.png" alt="Sign out"></a></li>
        </ul>
    </header>
<!-- BARRA DE NAVEGACIÓN -->
    <nav class="navbar navbar-expand-lg navbar-1">
        <div class="container-fluid">
            <a class="navbar-brand" href="../webPages/index.html"><img src="../assets/logo-no-fondo.png" alt="Logo" class="logo"></a>
            <p id="panel">Panel de administrador</p>
            <div id="user-desktop" v-if="listClient.role == 'ADMIN' || listClient.role == 'USER'">
                <a href="" class="d-block link-light text-decoration-none" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false" style="float: right;"><div id="avatar" :style="{backgroundImage: 'url('+listClient.profile+')'}" style="margin-right: 2rem;"></div></a>
                <a class="d-block text-decoration-none name-profile">{{listClient.firstname}} {{listClient.lastname}}</a>
                <ul class="dropdown-menu text-small shadow-2" aria-labelledby="dropdownUser2">
                    <li><a class="dropdown-item go-to" href="">Perfil</a></li>
                    <li><a class="dropdown-item go-to" href="">Mis compras</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item go-to" href="" @click.prevent="signOut">Cerrar sesión <img src="../assets/logout.png" alt="Sign out"></a></li>
                </ul>
            </div>
        </div>
    </nav>
<!-- CONTENIDO -->
    <main>
        <div class="row g-0">
            <div class="col-md-2">
                <a class="btn btn-primary data-page" href="manager-packs.html" role="button">Volver</a>
            </div>
            <div class="col-md-8">
                <form class="register" style="margin-top: 0;">
                    <h4 class="register">Registro del combo Nro. {{pack.code}}</h4>
                    <div class="row justify-content-around">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="namePack" class="form-label formulary">Nombre del combo:</label>
                                <input v-model="pack.namePack" type="text" class="form-control" id="namePack" required>
                            </div>
                            <label class="form-label formulary">Productos:</label>
                            <p class="form-text" style="color: #000;">Por favor, seleccione los productos que desee cambiar al combo.</p>
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <label for="shampoo" class="form-label formulary">Champú:</label>
                                    <select v-model="pack.idShampoo" class="form-select" id="shampoo" aria-label="Default select example">
                                        <option v-for="shampoo in listShampoos" :value="shampoo.id">{{shampoo.code}}</option>
                                    </select>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="conditioner" class="form-label formulary">Conds.*:</label>
                                    <select v-model="pack.idConditioner" class="form-select" id="conditioner" aria-label="Default select example">
                                        <option v-for="conditioner in listConditioners" :value="conditioner.id">{{conditioner.code}}</option>
                                    </select>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="soap" class="form-label formulary">Jabón:</label>
                                    <select v-model="pack.idSoap" class="form-select" id="soap" aria-label="Default select example">
                                        <option v-for="soap in listSoaps" :value="soap.id">{{soap.code}}</option>
                                    </select>
                                </div>
                            </div>
                            <p class="form-text" style="color: #000;">* Conds.: Acondicionador</p>
                            <div class="col mb-3">
                                <label for="pricePack" class="form-label formulary">Precio:</label>
                                <div class="input-group">
                                    <div class="input-group-text">$</div>
                                    <input v-model="pack.price" type="number" class="form-control" id="pricePack" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 align-self-center" style="text-align: center; user-select: none;">
                            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img :src="pack.imgShampoo" alt="Champú">
                                    </div>
                                    <div class="carousel-item">
                                        <img :src="pack.imgConditioner" alt="Acondicionador">
                                    </div>
                                    <div class="carousel-item">
                                        <img :src="pack.imgSoap" alt="Jabón">
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Anterior</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Siguiente</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-floating add-product">
                        <a class="btn btn-primary data-page-2" href="" role="button" @click.prevent="changeDataPack">Guardar</a>
                        <a class="btn btn-primary data-page-3" href="" role="button" @click.prevent="deletePack">Eliminar</a>
                    </div>
                </form>
            </div>
        </div>      
    </main>
<!-- PIE DE PÁGINA -->
    <footer>
        <section id="copy-right">
            <p id="footer-page">&copy; {{momentFooter(new Date())}} El mejor combo | Todos los derechos reservados.</p>
        </section>
    </footer>
</div>
<!-- BOOTSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

<!-- VUE.JS -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../scripts/manager.js"></script>
</body>
</html>