<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Combos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/manager.css">
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
</head>
<body>
<div id="app" v-cloak>
<!-- ENCABEZADO -->
    <header id="user" v-if="listClient.role == 'ADMIN' || listClient.role == 'USER'">
        <a href="" class="d-block link-light text-decoration-none" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false" style="float: right;"><div id="avatar" :style="{backgroundImage: 'url('+listClient.profile+')'}"></div></a>
        <a class="d-block text-decoration-none name-profile">{{listClient.firstname}} {{listClient.lastname}}</a>
        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
            <li><a class="dropdown-item go-to" href="">Perfil</a></li>
            <li><a class="dropdown-item go-to" href="">Mis compras</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item go-to" href="" @click.prevent="signOut">Cerrar sesión <img src="../assets/logout.png" alt="Sign out"></a></li>
        </ul>
    </header>
<!-- BARRA DE NAVEGACIÓN -->
    <nav class="navbar navbar-expand-lg navbar-1">
        <div class="container-fluid">
            <a class="navbar-brand" href="../webPages/index.html"><img src="../assets/logo-no-fondo.png" alt="Logo" class="logo"></a>
            <p id="panel">Panel de administrador</p>
            <div id="user-desktop" v-if="listClient.role == 'ADMIN' || listClient.role == 'USER'">
                <a href="" class="d-block link-light text-decoration-none" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false" style="float: right;"><div id="avatar" :style="{backgroundImage: 'url('+listClient.profile+')'}" style="margin-right: 2rem;"></div></a>
                <a class="d-block text-decoration-none name-profile">{{listClient.firstname}} {{listClient.lastname}}</a>
                <ul class="dropdown-menu text-small shadow-2" aria-labelledby="dropdownUser2">
                    <li><a class="dropdown-item go-to" href="">Perfil</a></li>
                    <li><a class="dropdown-item go-to" href="">Mis compras</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item go-to" href="" @click.prevent="signOut">Cerrar sesión <img src="../assets/logout.png" alt="Sign out"></a></li>
                </ul>
            </div>
        </div>
    </nav>
<!-- CONTENIDO -->
    <main>
        <ul class="nav nav-tabs" id="manager-desktop" style="user-select: none;">
            <li class="nav-item manager">
                <a class="nav-link" href="manager-clients.html"><h5 class="manager">Clientes</h5></a>
            </li>
            <li class="nav-item manager">
                <a class="nav-link" href="manager-products.html"><h5 class="manager">Productos</h5></a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="manager-packs.html"><h5 class="manager">Combos</h5></a>
            </li>
        </ul>
        <div id="manager-mobile">
            <a class="btn btn-primary manager-mobile" href="manager-clients.html" role="button">Clientes</a>
            <a class="btn btn-primary manager-mobile-2" href="manager-products.html" role="button">Productos</a>
            <a class="btn btn-primary manager-mobile-3 current" href="manager-packs.html" role="button">Combos</a>
        </div>
        <div class="row justify-content-around">
            <div class="col-md-4">
                <form class="register" @submit.prevent="addPack">
                    <h4 class="register">Nuevo combo</h4>
                    <div class="mb-3">
                        <label for="namePack" class="form-label formulary">Nombre del combo:</label>
                        <input v-model="pack.namePack" type="text" class="form-control" id="namePack" placeholder="Nombre del combo" required>
                    </div>
                    <div class="mb-3">
                        <label for="products" class="form-label formulary">Productos:</label>
                        <select v-model="selected" class="form-select" id="products" aria-label="Default select example">
                            <option value="" selected disabled>Seleccione</option>
                            <option value="SCS">Champú + Acondicionador + Jabón</option>
                            <option value="SC">Champú + Acondicionador</option>
                        </select>
                    </div>
                    <p class="form-text" style="color: #000;">Por favor, seleccione los productos que desee agregar al combo.</p>
                    <div class="row" v-if="selected === ''">
                        <div class="col-md-4 mb-3">
                            <label for="shampoo1" class="form-label formulary">Champú:</label>
                            <select class="form-select" id="shampoo1" aria-label="Default select example" disabled>
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="conditioner1" class="form-label formulary">Conds.*:</label>
                            <select class="form-select" id="conditioner1" aria-label="Default select example" disabled>
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="soap1" class="form-label formulary">Jabón:</label>
                            <select class="form-select" id="soap1" aria-label="Default select example" disabled>
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="row" v-if="selected === 'SCS'">
                        <div class="col-md-4 mb-3">
                            <label for="shampoo2" class="form-label formulary">Champú:</label>
                            <select v-model="pack.idShampoo" class="form-select" id="shampoo2" aria-label="Default select example">
                                <option v-for="shampoo in listShampoos" :value="shampoo.id">{{shampoo.code}}</option>
                            </select>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="conditioner2" class="form-label formulary">Conds.*:</label>
                            <select v-model="pack.idConditioner" class="form-select" id="conditioner2" aria-label="Default select example">
                                <option v-for="conditioner in listConditioners" :value="conditioner.id">{{conditioner.code}}</option>
                            </select>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="soap2" class="form-label formulary">Jabón:</label>
                            <select v-model="pack.idSoap" class="form-select" id="soap2" aria-label="Default select example">
                                <option v-for="soap in listSoaps" :value="soap.id">{{soap.code}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" v-if="selected === 'SC'">
                        <div class="col-md-4 mb-3">
                            <label for="shampoo3" class="form-label formulary">Champú:</label>
                            <select v-model="pack.idShampoo" class="form-select" id="shampoo3" aria-label="Default select example">
                                <option v-for="shampoo in listShampoos" :value="shampoo.id">{{shampoo.code}}</option>
                            </select>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="conditioner3" class="form-label formulary">Conds.*:</label>
                            <select v-model="pack.idConditioner" class="form-select" id="conditioner3" aria-label="Default select example">
                                <option v-for="conditioner in listConditioners" :value="conditioner.id">{{conditioner.code}}</option>
                            </select>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="soap3" class="form-label formulary">Jabón:</label>
                            <select class="form-select" id="soap3" aria-label="Default select example" disabled>
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <p class="form-text" style="color: #000;">* Conds.: Acondicionador</p>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="typeClient" class="form-label formulary">Tipo de cliente:</label>
                            <select v-model="pack.typeClient" class="form-select" id="typeClient" aria-label="Default select example">
                                <option value="" selected disabled>Seleccione</option>
                                <option value="Unisex">Unisex</option>
                                <option value="Men">Hombres</option>
                                <option value="Women">Mujeres</option>
                                <option value="Children">Niños/as</option>
                                <option value="Babies">Bebés</option>
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="price" class="form-label formulary">Precio:</label>
                            <div class="input-group">
                                <div class="input-group-text">$</div>
                                <input v-model="pack.price" type="number" class="form-control" id="price" placeholder="0" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-floating add-product">
                        <a class="btn btn-primary data-page-2" href="" role="button" v-if="selected === ''">Registrar</a>
                        <a class="btn btn-primary data-page-2" href="" role="button" @click.prevent="addPackSCS" v-if="selected === 'SCS'">Registrar</a>
                        <a class="btn btn-primary data-page-2" href="" role="button" @click.prevent="addPackSC" v-if="selected === 'SC'">Registrar</a>
                        <input class="btn btn-primary reset" type="reset" value="Limpiar">
                    </div>
                </form>
            </div>
            <div class="col-md-8" style="margin-top: 1rem;">
                <div class="col-12">
                    <button class="navbar-toggler search" type="button" data-bs-toggle="dropdown" data-bs-target="#search-button" aria-controls="search-button" aria-expanded="false" aria-label="Toggle navigation" style="float: right;"><img src="../assets/search.png" alt="Search"></button>
                    <div class="navbar-collapse dropdown-menu search-space">
                        <input class="form-control" type="search" placeholder="Nro. combo" aria-label="Buscar" v-model="searchPack">
                    </div>
                </div>
                <table class="table table-hover">
                    <thead class="products">
                        <tr>
                            <th scope="col">Nro. combo</th>
                            <th scope="col">Nombre del combo</th>
                            <th scope="col">Productos</th>
                            <th scope="col">Cliente</th>
                            <th scope="col">Precio AR $</th>
                            <th scope="col">Detalles</th>
                        </tr>
                    </thead>
                    <tbody class="products">
                        <tr v-if="noSearchPack">
                            <td colspan="7">
                                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                                    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                    </symbol>
                                </svg>
                                <div class="alert alert-danger d-flex align-items-center search-alert" role="alert">
                                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                    <div>No se encontraron resultados para esta búsqueda.</div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody class="products">
                        <tr v-for="pack in searchPacks">
                            <td style="padding-top: .8rem;">{{pack.code}}</td>
                            <td style="padding-top: .8rem;">{{pack.namePack}}</td>
                            <td class="dropdown" v-if="pack.soap.id != 3">
                                <button class="btn btn-secondary dropdown-toggle description" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Ver productos</button>
                                <ul class="dropdown-menu manager-products" aria-labelledby="dropdownMenuButton1">
                                    <li class="row">
                                        <div class="col-4 align-self-center">
                                            <a :href="'data-shampoo.html?id=' + pack.shampoo.id"><div id="avatar" :style="{backgroundImage: 'url('+pack.shampoo.url+')'}"></div></a>
                                        </div>
                                        <div class="col-8">
                                            <p class="manager-title">Champú</p>
                                            <p class="manager-code">Nro. {{pack.shampoo.code}}</p>
                                            <p class="manager-name">{{pack.shampoo.name}}</p>
                                        </div>
                                    </li>
                                    <li class="row">
                                        <div class="col-4 align-self-center">
                                            <a :href="'data-conditioner.html?id=' + pack.conditioner.id"><div id="avatar" :style="{backgroundImage: 'url('+pack.conditioner.url+')'}"></div></a>
                                        </div>
                                        <div class="col-8">
                                            <p class="manager-title">Conds.</p>
                                            <p class="manager-code">Nro. {{pack.conditioner.code}}</p>
                                            <p class="manager-name">{{pack.conditioner.name}}</p>
                                        </div>
                                    </li>
                                    <li class="row">
                                        <div class="col-4 align-self-center">
                                            <a :href="'data-soap.html?id=' + pack.soap.id"><div id="avatar" :style="{backgroundImage: 'url('+pack.soap.url+')'}"></div></a>
                                        </div>
                                        <div class="col-8">
                                            <p class="manager-title">Jabón</p>
                                            <p class="manager-code">Nro. {{pack.soap.code}}</p>
                                            <p class="manager-name">{{pack.soap.name}}</p>
                                        </div>
                                    </li>
                                </ul>
                            </td>
                            <td class="dropdown" v-if="pack.soap.id === 3">
                                <button class="btn btn-secondary dropdown-toggle description" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Ver productos</button>
                                <ul class="dropdown-menu manager-products" aria-labelledby="dropdownMenuButton1">
                                    <li class="row">
                                        <div class="col-4 align-self-center">
                                            <a :href="'data-shampoo.html?id=' + pack.shampoo.id"><div id="avatar" :style="{backgroundImage: 'url('+pack.shampoo.url+')'}"></div></a>
                                        </div>
                                        <div class="col-8">
                                            <p class="manager-title">Champú</p>
                                            <p class="manager-code">Nro. {{pack.shampoo.code}}</p>
                                            <p class="manager-name">{{pack.shampoo.name}}</p>
                                        </div>
                                    </li>
                                    <li class="row">
                                        <div class="col-4 align-self-center">
                                            <a :href="'data-conditioner.html?id=' + pack.conditioner.id"><div id="avatar" :style="{backgroundImage: 'url('+pack.conditioner.url+')'}"></div></a>
                                        </div>
                                        <div class="col-8">
                                            <p class="manager-title">Conds.</p>
                                            <p class="manager-code">Nro. {{pack.conditioner.code}}</p>
                                            <p class="manager-name">{{pack.conditioner.name}}</p>
                                        </div>
                                    </li>
                                </ul>
                            </td>
                            <td style="padding-top: .8rem;">{{pack.typeClient}}</td>
                            <td style="padding-top: .8rem;">{{formatPrice(pack.price)}}</td>
                            <td style="padding-top: .8rem;"><a :href="'data-pack.html?id=' + pack.id"><img src="../assets/view-details.png" alt="Detalles"></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
<!-- PIE DE PÁGINA -->
    <footer>
        <section id="copy-right">
            <p id="footer-page">&copy; {{momentFooter(new Date())}} El mejor combo | Todos los derechos reservados.</p>
        </section>
    </footer>
</div>
<!-- BOOTSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

<!-- VUE.JS -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../scripts/manager.js"></script>
</body>
</html>