<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
</head>
<body>
<div id="app" v-cloak>
<!-- ENCABEZADO -->
    <header id="user" v-if="listClient.role == 'ADMIN' || listClient.role == 'USER'">
        <a href="" class="d-block link-light text-decoration-none" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false" style="float: right;"><div id="avatar" :style="{backgroundImage: 'url('+listClient.profile+')'}"></div></a>
        <a class="d-block text-decoration-none name-profile">{{listClient.firstname}} {{listClient.lastname}}</a>
        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
            <li><a class="dropdown-item go-to" href="">Perfil</a></li>
            <li><a class="dropdown-item go-to" href="">Mis compras</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item go-to" href="" @click.prevent="signOut">Cerrar sesión <img src="../assets/logout.png" alt="Sign out"></a></li>
        </ul>
    </header>
<!-- BARRA DE NAVEGACIÓN -->
    <nav class="navbar navbar-expand-lg navbar-1">
        <div class="container-fluid">
            <a class="navbar-brand" href="../webPages/index.html"><img src="../assets/logo-no-fondo.png" alt="Logo" class="logo"></a>
            <p id="panel">Panel de administrador</p>
            <div id="user-desktop" v-if="listClient.role == 'ADMIN' || listClient.role == 'USER'">
                <a href="" class="d-block link-light text-decoration-none" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false" style="float: right;"><div id="avatar" :style="{backgroundImage: 'url('+listClient.profile+')'}" style="margin-right: 2rem;"></div></a>
                <a class="d-block text-decoration-none name-profile">{{listClient.firstname}} {{listClient.lastname}}</a>
                <ul class="dropdown-menu text-small shadow-2" aria-labelledby="dropdownUser2">
                    <li><a class="dropdown-item go-to" href="">Perfil</a></li>
                    <li><a class="dropdown-item go-to" href="">Mis compras</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item go-to" href="" @click.prevent="signOut">Cerrar sesión <img src="../assets/logout.png" alt="Sign out"></a></li>
                </ul>
            </div>
        </div>
    </nav>
<!-- CONTENIDO -->
    <main>
        <ul class="nav nav-tabs" id="manager-desktop" style="user-select: none;">
            <li class="nav-item">
                <a class="nav-link active" href="manager-clients.html"><h5 class="manager">Clientes</h5></a>
            </li>
            <li class="nav-item manager">
                <a class="nav-link" href="manager-products.html"><h5 class="manager">Productos</h5></a>
            </li>
            <li class="nav-item manager">
                <a class="nav-link" href="manager-packs.html"><h5 class="manager">Combos</h5></a>
            </li>
        </ul>
        <div id="manager-mobile">
            <a class="btn btn-primary manager-mobile current" href="manager-clients.html" role="button">Clientes</a>
            <a class="btn btn-primary manager-mobile-2" href="manager-products.html" role="button">Productos</a>
            <a class="btn btn-primary manager-mobile-3" href="manager-packs.html" role="button">Combos</a>
        </div>
        <div class="row justify-content-around">
            <div class="col-md-4">
                <form class="register" @submit.prevent="addClient">
                    <h4 class="register">Nuevo cliente</h4>
                    <div class="mb-3">
                        <label for="firstname" class="form-label formulary">Nombre(s):</label>
                        <input v-model="client.firstname" type="text" class="form-control" id="firstname" placeholder="Nombre(s) del cliente" required>
                    </div>
                    <div class="mb-3">
                        <label for="lastname" class="form-label formulary">Apellido(s):</label>
                        <input v-model="client.lastname" type="text" class="form-control" id="lastname" placeholder="Apellido(s) del cliente" required>
                    </div>
                    <div class="mb-3">
                        <label for="username" class="form-label formulary">Usuario:</label>
                        <input v-model="client.username" type="text" class="form-control" id="username" placeholder="Nombre de usuario" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label formulary">Correo electrónico:</label>
                        <input v-model="client.email" type="email" class="form-control" id="email" placeholder="Correo eletrónico" required>
                    </div>
                    <label for="password" class="form-label formulary">Contraseña:</label>
                    <div class="input-group mb-3">
                        <input v-model="client.password" :type="type" class="form-control" id="password" placeholder="&#149&#149&#149&#149&#149&#149&#149&#149" maxlength="16" required>
                        <button v-if="hidden" class="btn btn-outline-secondary" type="button" id="button-addon2" @click="showPassword" style="background-color: white;"><img src="../assets/hidden.png" alt=""></button>
                        <button v-if="show" class="btn btn-outline-secondary" type="button" id="button-addon2" @click="showPassword" style="background-color: white;"><img src="../assets/show.png" alt=""></button>
                    </div>
                    <div class="form-floating add-product">
                        <input class="btn btn-primary add" type="submit" value="Registrar">
                        <input class="btn btn-primary reset" type="reset" value="Limpiar">
                    </div>
                </form>
            </div>
            <div class="col-md-8" style="margin-top: 1rem;">
                <div class="col-12">
                    <button class="navbar-toggler search" type="button" data-bs-toggle="dropdown" data-bs-target="#search-button" aria-controls="search-button" aria-expanded="false" aria-label="Toggle navigation" style="float: right;"><img src="../assets/search.png" alt="Search"></button>
                    <div class="navbar-collapse dropdown-menu search-space">
                        <input class="form-control" type="search" placeholder="Nro. usuario" aria-label="Buscar" v-model="searchClient">
                    </div>
                </div>
                <table class="table table-hover">
                    <thead class="products">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Nro. usuario</th>
                            <th scope="col">Nombre completo</th>
                            <th scope="col">Usuario</th>
                            <th scope="col">Correo electrónico</th>
                        </tr>
                    </thead>
                    <tbody class="products">
                        <tr v-if="noSearchClient">
                            <td colspan="7">
                                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                                    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                    </symbol>
                                </svg>
                                <div class="alert alert-danger d-flex align-items-center search-alert" role="alert">
                                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                    <div>No se encontraron resultados para esta búsqueda.</div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody class="products">
                        <tr v-for="client in searchClients">
                            <td><a :href="'data-client.html?id=' + client.id"><div id="avatar" :style="{backgroundImage: 'url('+client.profile+')'}"></div></a></td>
                            <td>{{client.code}}</td>
                            <td>{{client.firstname}} {{client.lastname}}</td>
                            <td>{{client.username}}</td>
                            <td>{{client.email}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
<!-- PIE DE PÁGINA -->
    <footer>
        <section id="copy-right">
            <p id="footer-page">&copy; {{momentFooter(new Date())}} El mejor combo | Todos los derechos reservados.</p>
        </section>
    </footer>
</div>
<!-- BOOTSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

<!-- VUE.JS -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../scripts/manager.js"></script>
</body>
</html>