/* Paleta de colores */

.color1 {color: #973b50;}
.color2 {color: #c88b96;}
.color3 {color: #87e1dd;}
.color4 {color: #009e93;}
.color5 {color: #f15d9a;}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
[v-cloak]{
    display: none;
}
.swal-button--confirm{
    background-color: #f15d9a;
}

/* HEADER - SIGN IN */

header#sign-in{
    padding: .3rem 2rem .3rem .6rem !important;
    background: linear-gradient(to right, #87e1dd, #009e93);
    user-select: none;
}
div.sign-in{
    text-align: end;
}
a.sign-in{
    color: #000;
    text-decoration: none;
    font-weight: bold;
}
a.sign-in:hover{
    text-decoration: underline;
}

/* HEADER - USER */

header#user{
    display: none;
    background: linear-gradient(to right, #87e1dd, #009e93);
    padding: .5rem 2rem 1.5rem 0;
    height: 4rem;
    user-select: none;
}
div#avatar{
    width: 48px !important;
    height: 48px !important;
    border-radius: 50%;
    background-size: cover;
}
a.name-profile{
    color: #000;
    float: right;
    font-size: larger !important;
    margin: 1.5vh 1vw 0 0 !important;
}
ul.shadow, ul.shadow-2{
    background-color: #c88b96;
}
ul.shadow-2{
    margin-left: 72.5rem !important;
}
a.go-to{
    font-weight: bold;
}
a.go-to:hover{
    background-color: #973b50;
}

/* BARRA DE NAVEGACIÓN */

nav.navbar-1{
    background: linear-gradient(to right, #87e1dd, #009e93);
    padding-left: 2.5vw;
    user-select: none;
}
img.logo{
    width: 84px;
}
p#panel{
    border-left: 5px solid #973b50;
    border-bottom: 5px solid #973b50;
    border-radius: 15px;
    padding: .5rem 2rem !important;
    font-size: xx-large !important;
    font-weight: bold;
}
a.navbar-menu, a.navbar-menu-active{
    background: linear-gradient(to right, #c88b96, #f15d9a) !important;
    border-radius: 25px !important;
    margin-right: .5rem !important;
    width: 5.5rem !important;
    text-align: center !important;
    font-weight: bold;
    color: #000;
}
a.navbar-menu:hover{
    color: #000;
    text-decoration: underline;
}
a.navbar-menu-active{
    text-decoration: underline;
}
a.navbar-menu-active:hover{
    color: #000;
}
button.navbar{
    background: linear-gradient(to top, #c88b96, #f15d9a);
    padding: .5rem 1rem .5rem 1rem;
    margin-right: 1.5rem;
}

/* MAIN */

main{
    padding: 1rem 2rem 1rem 2rem !important;
}

/* FOOTER */

footer{
    user-select: none;
}
section#copy-right{
    padding: 1rem 0 .5rem 0 !important;
    text-align: center;
    background: linear-gradient(to bottom, #87e1dd, #009e93);
}
p#footer-page{
    font-weight: bold;
}

/* MANAGER */

li.manager:hover{
    background: linear-gradient(to left, #973b50, #f15d9a, #c88b96);
    border: none;
}
h5.manager{
    border-left: 2px solid #973b50;
    padding: .2rem 0 .2rem .5rem;
    color: #000;
}
div#manager-mobile{
    display: none;
    text-align: center;
}
a.manager-mobile, a.manager-mobile-2, a.manager-mobile-3{
    background: linear-gradient(to right, #973b50, #f15d9a, #c88b96);
    border: none;
    color: #000;
    font-weight: bold;
}
a.manager-mobile:hover, a.manager-mobile-2:hover, a.manager-mobile-3:hover{
    background: linear-gradient(to right, #973b50, #f15d9a, #c88b96);
    color: #000;
    text-decoration: underline;
}
a.manager-mobile, a.manager-mobile-2{
    margin-right: 1rem !important;
}
a.current{
    text-decoration: underline;
}

/* TABLA DE REGISTRO */

form.register{
    background-image: url("../assets/pink-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem !important;
    margin-top: 1rem;
    border-radius: 15px;
}
p#selectHelp{
    margin: 0;
    color: #000;
    font-weight: bold;
    text-indent: 1.5rem;
}
h4.register{
    border-left: 5px solid #973b50;
    border-right: 5px solid #973b50;
    padding: .4rem 0 .4rem .6rem !important;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}
label.formulary{
    margin: 0;
    font-weight: bold;
}
p.counter{
    margin: 0;
    text-align: right;
}
div.add-product{
    text-align: center;
}
input.add, input.reset{
    background-color: #973b50;
    border: none;
    color: #000;
}
input.add:hover, input.reset:hover{
    background-color: #973b50;
    color: #000;
    font-weight: bold;
    text-decoration: underline;
}
input.add{
    margin-right: .5rem;
}

/* DATOS DE PRODUCTOS REGISTRADOS */

button.products{
    background: linear-gradient(to left, #973b50, #f15d9a, #c88b96);
    border: none;
    font-size: large;
}
button.products:not(.collapse){
    color: #000;
}
button.search{
    background-color: #009e93;
    padding: .5rem;
    margin-bottom: .5rem;
}
div.search-space{
    background: none;
    border: none;
}
div.search-alert{
    margin-bottom: 0;
}
thead.products, tbody.products{
    text-align: center;
}
thead.products{
    background: linear-gradient(to right, #009e93, #87e1dd);
}
button.description, button.description:hover, button.description:not(.collapse){
    background-color: #009e93;
    border: none;
    color: #000;
}
ul.manager-products{
    background: linear-gradient(to top, #009e93, #87e1dd);
    padding: .5rem;
}
p.manager-products{
    margin: 0;
}

/* MANAGER PACKS */

p.manager-title, p.manager-code{
    text-align: center;
    font-weight: bold;
    margin: 0;
}
p.manager-name{
    margin: 0;
    font-size: small;
}

/* DATA PAGES */

a.data-page, button.back{
    background: linear-gradient(to left, #973b50, #f15d9a, #c88b96);
    border: none;
    color: #000;
}
a.data-page:hover, button.back:hover{
    background: linear-gradient(to left, #973b50, #f15d9a, #c88b96);
    border: none;
    color: #000;
    font-weight: bold;
    text-decoration: underline;
}
a.data-page-2, a.data-page-3{
    background-color: #973b50;
    border: none;
    color: #000;
}
a.data-page-2:hover, a.data-page-3:hover{
    background-color: #973b50;
    border: none;
    color: #000;
    font-weight: bold;
    text-decoration: underline;
}
a.data-page-2{
    margin-right: .5rem;
}
img.img-data{
    margin-bottom: 1rem;
    width: 250px !important;
    height: 250px !important;
    border-radius: 50%;
}

@media screen and (max-width: 1024px) {
    /* HEADER - USER */
    ul.shadow-2{
        margin-left: 51.5rem !important;
    }

    /* FOOTER */
    div.navbar-2{
        width: 200px !important;
    }
}

@media screen and (max-width: 768px) {
    /* HEADER - USER */
    header#user{
        display: block;
    }
    div#user-desktop{
        display: none;
    }

    /* BARRA DE NAVEGACIÓN */
    a.navbar-menu{
        background: none !important;
        border-radius: 0 !important;
        border-bottom: 1px solid #009e93;
        width: 100% !important;
        text-align: left !important;
    }
    p#panel{
        margin-right: 8rem !important;
    }
    a#index{
        display: none;
    }

    /* FOOTER */
    div.navbar-2{
        width: 150px !important;
    }

    /* DATA PAGES */
    img.img-data{
        width: 200px !important;
        height: 200px !important;
    }
}

@media screen and (max-width: 425px) {
    /* BARRA DE NAVEGACIÓN */
    p#panel{
        display: none;
    }

    /* FOOTER */
    div.navbar-2{
        width: 250px !important;
    }
    p#footer-page{
        font-size: 14px !important;
    }

    /* MANAGER */
    ul#manager-desktop{
        display: none;
    }
    div#manager-mobile{
        display: block;
    }

    /* DATA PAGES */
    a.data-page, button.back{
        margin-bottom: 1rem;
    }
    img.img-data{
        width: 250px !important;
        height: 250px !important;
    }
}

@media screen and (max-width: 375px) {
    /* FOOTER */
    a.social-icon{
        margin-right: 1.5vw !important;
    }
    img.social{
        width: 36px !important;
    }
    p.title-nav-2{
        font-size: 18px !important;
    }
    a.footer{
        font-size: 16px;
    }
    p#footer-page{
        font-size: 12px !important;
    }    
}

@media screen and (max-width: 320px) {
    /* HEADER - SIGN IN */
    a.sign-in{
        font-size: 14px;
    }

    /* HEADER - USER */
    div#avatar{
        width: 40px !important;
        height: 40px !important;
    }
    a.name-profile{
        font-size: medium !important;
        font-weight: bold !important;
        margin: 1.5vh 2vw 0 0 !important;
    }

    /* FOOTER */
    p#footer-page{
        font-size: 10px !important;
    }

    /* MANAGER */
    a.manager-mobile, a.manager-mobile-2{
        margin-bottom: .5rem !important;
    }
    a.manager-mobile-2{
        margin-right: 0 !important;
    }

    /* DATA PAGES */
    img.img-data{
        width: 200px !important;
        height: 200px !important;
    }
}